* {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin-bottom: 0;
}

.h2 {
    margin-bottom: 0;
}

.h7 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1.2;
    font-size: calc(0.7rem + 0.5vw);
}


@media (min-width: 1400px) {
    .container-modifier {
        max-width: 1120px;
    }
}

@media (min-width: 1200px) {
    .container-modifier {
        max-width: 1000px;
    }
}
@media (max-width:1200px) {
    .container-modifier {
        max-width: 100%;
    }
}


.body {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 93vh 700px 700px 700px 50px;
    grid-template-areas:
        "header"
        "index"
        "service"
        "portfolio"
        "contact"
        "footer";
}

/* ---------------------------HEADER--------------------------- */
.header {
    grid-area: header;
    background-color: #00BFA6;
}

.header-icons__img {
    height: 24px;
}

.navbar-light .navbar-toggler {
    color: #f8f9fa;
    border: none;
}
.icons{
    top: 13% !important;
    right: 0 !important;
}

/* ---------------------------SECTION INDEX--------------------------- */
.index {
    grid-area: index;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;
}

.index__div {
    width: 90%;
    height: 100%;
    background-color: #fff;
    display: grid;
    grid-template-rows: 200px 5% 5% 40% 15%;
    grid-template-areas:
        "index__div-img"
        "index__div-name"
        "index__div-name-p"
        "index__div-paragraph"
        "index__div-button";
    justify-items: center;
}

.index__div-img {
    grid-area: index__div-img;
}

.index__div-name {
    grid-area: index__div-name;
}

.name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.index__div-name-p {
    grid-area: index__div-name-p;
    font-family: inherit;
    letter-spacing: 2px;
}

.index__div-paragraph {
    grid-area: index__div-paragraph;
    align-self: center;
    font-size: 0.8rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 0.25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    padding: 1.5rem;
}
.index__div-learn-more{
    grid-area: index__div-learn-more;
    display: flex;
    align-items: center;
    justify-content: end;
}

.index__div-button {
    grid-area: index__div-button;
    align-self: center;
}
/* BUTTON 1 STYLE */
.button-name {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 38px;
    width: 30px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
   }
   
   .button-name:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
   }
   
   .button-name:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
   }
   
   .button-name:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
   }
/* BUTTON 1 STYLE */



/* BUTTON 2 STYLE */
.cta {
    border: none;
    background: none;
   }
   
   .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 10px;
    padding-right: 15px;
    text-transform: uppercase;
   }
   
   .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active svg {
    transform: scale(0.9);
   }
   
   .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
   }
   
   .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
   }
   
   .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
   }
/* BUTTON 2 STYLE */


.programmer__img {
    height: 100%;
}

/* ---------------------------SECTION SERVICE--------------------------- */
.service {
    grid-area: service;
    display: grid;
    grid-template-rows: 25% 40% 35%;
    grid-template-areas:
        "service__firstdiv"
        "service__seconddiv"
        "service_thirddiv";
    justify-items: center;
    align-items: center;
    background-color: #f8f8ff;
}

.service__firstdiv {
    grid-area: service__firstdiv;
    align-self: end;
}

.service__img {
    height: 80px;
}

.service__seconddiv {
    grid-area: service__seconddiv;
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "service__div-title service__div-paragraph";
}

.service__div-title {
    grid-area: service__div-title;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    letter-spacing: 2px;
}

.service__div-paragraph {
    grid-area: service__div-paragraph;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.service__thirddiv {
    grid-area: service_thirddiv;
    width: 80%;
    height: 100%;
}

.service__div-icons {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "service__div__div-icon1 service__div__div-icon2 service__div__div-icon3"
        "service__div__div-icon4 service__div__div-icon5 service__div__div-icon6";
    height: 70%;
}

.service__div__div-icon1 {
    grid-area: service__div__div-icon1;
}

.service__div__div-icon2 {
    grid-area: service__div__div-icon2;
}

.service__div__div-icon3 {
    grid-area: service__div__div-icon3;
}

.service__div__div-icon4 {
    grid-area: service__div__div-icon4;
}

.service__div__div-icon5 {
    grid-area: service__div__div-icon5;
}

.service__div__div-icon6 {
    grid-area: service__div__div-icon6;
}

#center {
    display: flex;
    align-items: center;
}

.icons_title {
    font-size: 11px;
    margin-left: 5px;
    font-family: sans-serif;
}

.service__icons__img {
    height: 30px;
}

/* ---------------------------SECTION PORTFOLIO--------------------------- */
.portfolio {
    grid-area: portfolio;
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-areas:
        "portfolio__div-title"
        "portfolio__div-imgs";
    align-items: center;
    justify-content: center;
    text-align: center;
}

.portfolio__div-title {
    grid-area: portfolio__div-title;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
}

.portfolio__div-imgs {
    grid-area: portfolio__div-imgs;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #1f403736, #00bfa62f);
    padding: 5px 20px 5px 0;
    align-self: start;
}

.portfolio__img {
    height: 70px;
}

/* ---------------------------SECTION CONTACT--------------------------- */
.contact {
    grid-area: contact;
    background-color: #f8f8ff;
}

/* ---------------------------FOOTER--------------------------- */
.footer {
    grid-area: footer;
    background-color: #8a2be2;
}