* {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin-bottom: 0;
}

.h2 {
    margin-bottom: 0;
}

.h7 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1.2;
    font-size: calc(0.7rem + 0.5vw);
}

.h8 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: calc(0.5rem + 0.5vw);
}

@media (min-width: 1400px) {
    .container {
        max-width: 1120px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1000px;
    }
}
@media (max-width:1200px) {
    .container {
        max-width: 100%;
    }
}


.body {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 93vh 700px 700px 700px 50px;
    grid-template-areas:
        "header"
        "index"
        "service"
        "portfolio"
        "contact"
        "footer";
}

/* ---------------------------HEADER--------------------------- */
.header {
    grid-area: header;
    background-color: #00BFA6;
}

.header-icons__img {
    height: 24px;
}

.navbar-light .navbar-toggler {
    color: #f8f9fa;
    border: none;
}
.icons{
    top: 13% !important;
    right: 0 !important;
}

/* ---------------------------SECTION INDEX--------------------------- */
.index {
    grid-area: index;
    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-areas:
        "index__firstdiv"
        "index__seconddiv";
    justify-items: center;
    align-items: center;
}

.index__firstdiv {
    width: 90%;
    height: 100%;
    background-color: #fff;
    grid-area: index__firstdiv;
    display: grid;
    grid-template-rows: 40% 10% 5% 30% 15%;
    grid-template-areas:
        "index__div-img"
        "index__div-name"
        "index__div-name-p"
        "index__div-paragraph"
        "index__div-button";
    justify-items: center;
}

.index__div-img {
    grid-area: index__div-img;
}

.index__div-name {
    grid-area: index__div-name;
}

.name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.index__div-name-p {
    grid-area: index__div-name-p;
    font-size: 0.7rem;
    font-family: monospace;
    letter-spacing: 2px;
}

.index__div-paragraph {
    grid-area: index__div-paragraph;
    align-self: center;
    font-size: 0.8rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.index__div-button {
    grid-area: index__div-button;
    align-self: center;
}

/* BUTTON STYLE */
.btn {
    position: relative;
    margin: auto;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #00BFA6;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
}

.btn span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.btn svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.btn:hover:before {
    width: 100%;
    background: #b1dae7;
}

.btn:hover svg {
    transform: translateX(0);
}

.btn:active {
    transform: scale(0.95);
}

/* BUTTON STYLE */

.programmer__img {
    height: 100%;
}

.index__seconddiv {
    width: 80%;
    height: 60%;
    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-bottom: 30px;
    background-color: #fff;
    grid-area: index__seconddiv;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        "index__service-title"
        "index__service";
    align-items: center;
}

.index__service-title {
    margin-left: 7%;
    align-self: end;
    grid-area: index__service-title;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.index__service {
    grid-area: index__service;
    display: flex;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.service__img {
    height: 100px;
}

/* ---------------------------SECTION SERVICE--------------------------- */
.service {
    grid-area: service;
    display: grid;
    grid-template-rows: 25% 40% 35%;
    grid-template-areas:
        "service__firstdiv"
        "service__seconddiv"
        "service_thirddiv";
    justify-items: center;
    align-items: center;
    background-color: #f8f8ff;
}

.service__firstdiv {
    grid-area: service__firstdiv;
    align-self: end;
}

.service__img {
    height: 80px;
}

.service__seconddiv {
    grid-area: service__seconddiv;
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "service__div-title service__div-paragraph";
}

.service__div-title {
    grid-area: service__div-title;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    letter-spacing: 2px;
}

.service__div-paragraph {
    grid-area: service__div-paragraph;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.service__thirddiv {
    grid-area: service_thirddiv;
    width: 80%;
    height: 100%;
}

.service__div-icons {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "service__div__div-icon1 service__div__div-icon2 service__div__div-icon3"
        "service__div__div-icon4 service__div__div-icon5 service__div__div-icon6";
    height: 70%;
}

.service__div__div-icon1 {
    grid-area: service__div__div-icon1;
}

.service__div__div-icon2 {
    grid-area: service__div__div-icon2;
}

.service__div__div-icon3 {
    grid-area: service__div__div-icon3;
}

.service__div__div-icon4 {
    grid-area: service__div__div-icon4;
}

.service__div__div-icon5 {
    grid-area: service__div__div-icon5;
}

.service__div__div-icon6 {
    grid-area: service__div__div-icon6;
}

#center {
    display: flex;
    align-items: center;
}

.icons_title {
    font-size: 11px;
    margin-left: 5px;
    font-family: sans-serif;
}

.service__icons__img {
    height: 30px;
}

/* ---------------------------SECTION PORTFOLIO--------------------------- */
.portfolio {
    grid-area: portfolio;
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-areas:
        "portfolio__div-title"
        "portfolio__div-imgs";
    align-items: center;
    justify-content: center;
    text-align: center;
}

.portfolio__div-title {
    grid-area: portfolio__div-title;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
}

.portfolio__div-imgs {
    grid-area: portfolio__div-imgs;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #1f403736, #00bfa62f);
    padding: 5px 20px 5px 0;
    align-self: start;
}

.portfolio__img {
    height: 70px;
}

/* ---------------------------SECTION CONTACT--------------------------- */
.contact {
    grid-area: contact;
    background-color: #f8f8ff;
}

/* ---------------------------FOOTER--------------------------- */
.footer {
    grid-area: footer;
    background-color: #8a2be2;
}