.contact{
    grid-area: contact;
    background-color: nth($color, 2);
    display: grid;
    grid-template-rows: 20% 70% 10%;
    grid-template-areas: 
    "contact__div-title"
    "contact__div-icons"
    "div-arrow";
    justify-items: center;
    .contact__div-title{
        grid-area: contact__div-title;
        @include display(flex, center, center);
    }
    .contact__div-icons{
        grid-area: contact__div-icons;
        display: flex;
        height: 250px;
        width: 200px;
        position: relative;
        align-self: center;
        border-bottom: 3px solid darken(nth($color,2) , 05);
        .img0{
            top: 46px;
            height: 100%;
            position: absolute;
            .contact__div__img0{
                width: 200px;
            }
        }
        .contact__div__icons{
            height: auto;
            position: absolute;
            animation: icons-animation 2.5s ease-in-out infinite both;
            .contact__div__img{
                height: 50px;
            }
        }
        .img1{
            top: calc(115px + 46px);
            left: 149px;
        }
        .img2{
            top: calc(-15px + 46px);
            left: 41px;
        }
        .img3{
            top: calc(38px + 46px);
            left: 124px;
        }
    }
    .div-arrow{
        grid-area: div-arrow;
        position: relative;
        left: 40%;
        .arrow{
            margin: 25px 0;
            width: calc(15px + 1vw);
            height: calc(15px + 1vw);
            transform: rotate(-45deg);
            border-width: calc(1px + 0.3vw) calc(1px + 0.3vw) 0 0;
            border-style: solid;
            border-color: nth($color, 5);
        }
    }
}
@keyframes icons-animation {
    0%{
        filter: grayscale(0);
    }
    50%{
        filter: grayscale(0.7);
    }
    100%{
        filter: grayscale(0);
    }
}