header{
    grid-area: header;
    .navbar-light , .navbar-toggler{
        color: #f8f9fa;
        border: none;
        .icons{
            top: 13% !important;
            right: 0 !important;
            .header-icons__img{
                height: 24px;
            }
        }
    }
}