// home
.home{
    grid-area: home;
    @include display(flex, center, center);
    height: 100%;
    .home__div{
        width: 90%;
        height: 100%;
        background-color: nth($color, 3);
        display: grid;
        justify-items: center;
        grid-template-rows: 200px 5% 5% auto 15%;
        grid-template-areas:
            "home__div-img"
            "home__div-name"
            "home__div-name-p"
            "home__div-paragraph"
            "home__div-button";
        .home__div-img{
            grid-area: home__div-img;
            .programmer__img{
                height: 90%;
            }
        }
        .home__div-name{
            grid-area: home__div-name;
            .name{
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
        }
        .home__div-name-p{
            grid-area: home__div-name-p;
            font-family: inherit;
            letter-spacing: 2px;
            align-self: center;
        }
        .home__div-paragraph{
            grid-area: home__div-paragraph;
            align-self: center;
            font-size: 0.8rem;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            border-radius: 0.25rem;
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
            padding: 1.5rem;
        }
        .home__div-button{
            grid-area: home__div-button;
            align-self: center;
            .cta{
                border: none;
                background: none;
                span{
                    padding-bottom: 7px;
                    letter-spacing: 4px;
                    padding-right: 15px;
                    text-transform: uppercase;
                }
                .hover-underline-animation {
                    position: relative;
                    color: black;
                    padding-bottom: 20px;
                    &::after{
                        content: "";
                        position: absolute;
                        width: 100%;
                        transform: scaleX(0);
                        height: 1.5px;
                        bottom: 0;
                        left: 0;
                        background-color: #000000;
                        transform-origin: bottom right;
                        transition: transform 0.25s ease-out;
                    }
                }
                svg{
                    transform: translateX(-8px);
                    transition: all 0.3s ease;
                }
                &:hover svg{
                    transform: translateX(0);
                }
                &:active svg{
                    transform: scale(0.9);
                }
                &:hover{
                    .hover-underline-animation{
                        &::after{
                            transform: scaleX(1);
                            transform-origin: bottom left;
                        }
                    }
                }
            }
        }
    }
}