// service
.service{
    grid-area: service;
    display: grid;
    grid-template-rows: 25% 40% 35%;
    grid-template-areas:
        "service__firstdiv"
        "service__seconddiv"
        "service_thirddiv";
    justify-items: center;
    align-items: center;
    background-color: nth($color, 2);
    .service__firstdiv {
        grid-area: service__firstdiv;
        align-self: end;
        img{
            height: 80px;
        }
    }
    .service__seconddiv {
        grid-area: service__seconddiv;
        width: 80%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "service__div-title service__div-paragraph";
        .service__div-title {
            grid-area: service__div-title;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-align: center;
            letter-spacing: 2px;
        }
        .service__div-paragraph {
            grid-area: service__div-paragraph;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }
    .service__thirddiv {
        grid-area: service_thirddiv;
        width: 80%;
        height: 100%;
        .service__div-icons {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
                "service__div__div-icon1 service__div__div-icon2 service__div__div-icon3"
                "service__div__div-icon4 service__div__div-icon5 service__div__div-icon6";
            height: 70%;
            #center{
                display: flex;
                align-items: center;
            }
            img {
                height: 30px;
            }
            b {
                font-size: 11px;
                margin-left: 5px;
                font-family: sans-serif;
            }

            .service__div__div-icon1 {
                grid-area: service__div__div-icon1;
            }
            
            .service__div__div-icon2 {
                grid-area: service__div__div-icon2;
            }
            
            .service__div__div-icon3 {
                grid-area: service__div__div-icon3;
            }
            
            .service__div__div-icon4 {
                grid-area: service__div__div-icon4;
            }
            
            .service__div__div-icon5 {
                grid-area: service__div__div-icon5;
            }
            
            .service__div__div-icon6 {
                grid-area: service__div__div-icon6;
            }
        }
    }
}